<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="">logout</a>
    <h1>Hello User</h1>
    <a href="/">back</a>
  </body>
</html>
