<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>DOKUTELA</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  </head>
  <body>
    <header id="header">
        <!-- <img src="slogo.png"> -->
        <a href="#" class="logo">DOKUTELA</a>
        <ul>
          <li><a href="#Home" onclick="toggle()">Home</a></li>
          <li><a href="#" onclick="toggle()">Services</a></li>
          <li><a href="#" onclick="toggle()">Features</a></li>
          <li><a href="#" onclick="toggle()">Blog</a></li>
          <li><a href="#" onclick="toggle()">About</a></li>
          <li><a href="#" onclick="toggle()">Contact</a></li>
          <li><a href="/auth" class="active"  onclick="toggle();">GET STARTED</a></li>
        </ul>
        <div class="toggle" onclick="toggle()"></div>
    </header>

    <section id="Home">
      <div>
        <h1>Welcome To Our Hospital</h1>
        <br>
        <p>Enabling vulnerable chronic patients
            access to medication during and post the
            COVID-19 pandemic.
            The word Dokutela hails from the Swazi
            word Dokotela meaning doctor or
            physician. It is a USSD based platform that
            is user friendly and widespread. Dokutela
            has the functionality of drug connect which
            comes hand in hand with health records,
            health questionnaires and patient
            feedback with doctor connect.</p>
            <br>
        <a href="#">TEST OUT SERVICE</a>
      </div>
      <img src="\images\3775332.jpg">
    </section>

    <script src="\javascripts\main.js" charset="utf-8"></script>
  </body>
</html>
